<h2><%= @post.title %></h2>
<p>Posted by <%= @post.user.email %> <%= time_ago_in_words(@post.created_at) %> ago</p>
<p><%= @post.desc %></p>
<p><%= render @post.comments %></p>
<%= render 'comments/form' %>
<p>
<%= link_to "Back", root_path, class: "btn btn-default" %>
<% if @post.user_id == current_user.id %>
	<%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
	<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
<% end %>
</p>